:root {
    --link-color: whitesmoke;
    --link-hover: rgb(0, 200, 214);
}

a{
    font-size: 2.1vh;
    font-family: TiltNeon;
    color: var(--link-color);
}

p{
    text-align: left;
    font-size: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 12px;   
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

h3{
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 12px;   
}

h4{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;

    margin-bottom: 20px;
    display: inline-flexbox;
}

.footer{
    border-top:  2px solid #fff;
    width: 100%;
    text-align:center; 
    display: inline-block;
    padding-top: 30px;
}

.footerInfo{
    display:inline-block;
    width: 25%;
    margin: 20px;
    vertical-align:middle;
    opacity: 100%;
}

.footerLink{
    text-decoration: none;
    font-weight: bolder;
}
.footerLink:hover
{
  color: var(--link-hover);
}

.madeBy{
    height: 6vh;
    width: 100%;
    
    position: relative;
    bottom: 0px;
    
    text-align: right;
}